/* Import Tailwind CSS framework */
@import 'tailwindcss';

/* Load Pixel Font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@theme {
    --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Custom Pixel Font */
    --font-pixel: 'VT323', monospace;

    /* Custom Minecraft Colors */
    --color-mc-sand: #e6d7b9;
    --color-mc-wood: #5d4037;
    --color-mc-leaf: #388e3c;
    --color-mc-stone: #757575;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer utilities {
    .font-pixel {
        font-family: var(--font-pixel);
    }
    
    /* FIX DI SINI: Tambahkan dark:bg-zinc-800 dan dark:border-zinc-600 */
    .panel-mc {
        @apply relative border-4 border-black bg-[#f1f1f1] shadow-[4px_4px_0px_0px_rgba(0,0,0,0.2)] 
               dark:bg-zinc-800 dark:border-zinc-500 dark:shadow-[4px_4px_0px_0px_rgba(255,255,255,0.1)];
    }

    .btn-pixel:active {
        transform: translate(2px, 2px);
        box-shadow: none;
    }
}

input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

[x-cloak] {
    display: none;
}